*{
    margin: 0;
    padding: 0;
  }
  header{
    font-family: Helvetica;
    width: 363px;
    margin: 0 auto;
  }
  ul{
    list-style: none;
  }
  #menu li>a{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    display: table;
    text-decoration: transparent;
    min-width: 10px;
  }
  #menu li>a:hover{
    color: black;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    margin: 1px;
    
  }